---
import Layout from '@/layouts/Layout.astro';
import Loadout from '@/components/Loadout';
import StateUrl from '@/components/StateUrl';
import Hr from '@/components/Hr.astro';
import Filter from '@/components/Filter';
import ArmorList from '@/components/ArmorList';
import SkillToolTip from '@/components/SkillToolTip'

const title = "WILD HEARTS 防具シミュレータ"
const description = "WILD HEARTS 内で装備可能な防具の数値や技能を調べたり組み合わせを調べることができるシミュレータ"
const og_image = '/assets/ogp_wildhearts_armor-sim.jpg'
---
<Layout title={title} description={description} og_image={og_image}>
  <main>
    <div class="overflow-x-scroll">
      <Loadout client:load />
    </div>
    <StateUrl client:load />
    <Hr text="装備リスト" />
    <Filter client:load />

    <div class="overflow-x-scroll w-full h-screen">
      <ArmorList client:load />
    </div>
    <SkillToolTip id="skill-tooltip" client:load />

    <section class="mt-2 text-xs text-gray-500">
      <ul>
        <li>(C)コーエーテクモゲームス All rights reserved.</li>
        <li>(C)2022 Electronic Arts Inc.</li>
      </ul>
    </section>
	</main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  }
</style>
