---
import Layout from '@/layouts/Layout.astro';
import Loadout from '@/components/Loadout';
import StateUrl from '@/components/StateUrl';
import Hr from '@/components/Hr.astro';
import Filter from '@/components/Filter';
import ArmorList from '@/components/ArmorList';

const title = "WILD HEARTS 防具シミュレータ"
const description = "WILD HEARTS 内で装備可能な防具の数値や技能を調べたり組み合わせを調べることができるシミュレータ"
const rootURL = import.meta.env.DEV ? 'http://localhost:3000' : 'https://tools.solunita.net'
const ogp = {
  canonicalURL: new URL(Astro.url.pathname, rootURL),
  imageURL: new URL('/assets/ogp_wildhearts_armor-sim.jpg', rootURL),
}
---
<Layout title={title} ogp={ogp} description={description}>
  <main>
    <div class="overflow-x-scroll">
      <Loadout client:load />
    </div>
    <StateUrl baseUrl={ogp.canonicalURL} client:load />
    <Hr text="装備リスト" />
    <Filter client:load />

    <div class="overflow-x-scroll w-full h-screen">
      <ArmorList client:load />
    </div>

    <section class="mt-2 text-xs text-gray-500">
      <ul>
        <li>(C)コーエーテクモゲームス All rights reserved.</li>
        <li>(C)2022 Electronic Arts Inc.</li>
      </ul>
    </section>
	</main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    /* max-width: 60ch; */
  }
</style>
