---
import Layout from '@/layouts/Layout.astro';
import GlobalHeader from '@/components/GlobalHeader.astro';
import Loadout from '@/components/Loadout';
import Hr from '@/components/Hr.astro';
import Filter from '@/components/Filter';
import ArmorList from '@/components/ArmorList';
---

<Layout title="WILD HEARTS 防具シミュレータ">
  <GlobalHeader pageTitle='WILD HEARTS 防具シミュレータ' />
  <main>
    <div class="overflow-x-scroll">
      <Loadout client:load />
    </div>
    <Hr text="装備リスト" />
    <Filter client:load />
    <div class="overflow-x-scroll">
      <ArmorList class="overflow-x-scroll" client:load />
    </div>

    <section class="mt-2 text-xs text-gray-500">
      <ul>
        <li>(C)コーエーテクモゲームス All rights reserved.</li>
        <li>(C)2022 Electronic Arts Inc.</li>
      </ul>
    </section>
	</main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    /* max-width: 60ch; */
  }
</style>
