---
const {text} = Astro.props;
---
<div class="grid justify-items-center items-center">
  <div class="relative bg-gray-800 rounded-lg shadow border-4 border-amber-400 w-3/4 md:w-1/2 px-8 py-8">
    <p class="text-center text-gray-200 mb-3">
      武器種を選択してください。
    </p>
    <div class="text-base md:text-lg text-center space-4 grid grid-cols-1 md:grid-cols-2 gap-4">
      <a href="/wildhearts/weapon-sim/katana" class="inline-block text-amber-100 bg-gray-800 border-2 border-amber-400 hover:bg-amber-600 rounded-lg px-3 py-2 text-center">
        からくり刀
      </a>
      <a href="/wildhearts/weapon-sim/nodachi" class="inline-block text-amber-100 bg-gray-800 border-2 border-amber-400 hover:bg-amber-600 rounded-lg px-3 py-2 text-center">
        野太刀
      </a>
      <a href="/wildhearts/weapon-sim/bow" class="inline-block text-amber-100 bg-gray-800 border-2 border-amber-400 hover:bg-amber-600 rounded-lg px-3 py-2 text-center">
        弓
      </a>
      <a href="/wildhearts/weapon-sim/maul" class="inline-block text-amber-100 bg-gray-800 border-2 border-amber-400 hover:bg-amber-600 rounded-lg px-3 py-2 text-center">
        槌
      </a>
      <a href="/wildhearts/weapon-sim/wagasa" class="inline-block text-amber-100 bg-gray-800 border-2 border-amber-400 hover:bg-amber-600 rounded-lg px-3 py-2 text-center">
        傘
      </a>
      <a href="/wildhearts/weapon-sim/canon" class="inline-block text-amber-100 bg-gray-800 border-2 border-amber-400 hover:bg-amber-600 rounded-lg px-3 py-2 text-center">
        大筒
      </a>
      <a href="/wildhearts/weapon-sim/claw" class="inline-block text-amber-100 bg-gray-800 border-2 border-amber-400 hover:bg-amber-600 rounded-lg px-3 py-2 text-center">
        飛燕刀
      </a>
      <a href="/wildhearts/weapon-sim/staff" class="inline-block text-amber-100 bg-gray-800 border-2 border-amber-400 hover:bg-amber-600 rounded-lg px-3 py-2 text-center">
        変形棍
      </a>
    </div>
  </div>
</div>
