---
import Layout from '../layouts/Layout.astro';

const title = "Solunita Tools フィードバック"
const description = "Solunita Tools に関するご意見、ご感想"
const og_image = '/assets/og_image.png'
---
<Layout title={title} description={description}>
  <main>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf-oB10axEIXwdd3I6nKGaMUpkADTSQo_7QY3q--oMd7-eKMw/viewform?embedded=true" width="640" height="641" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
  </main>
</Layout>
