---
const {text} = Astro.props;
---
<div class="inline-flex items-center justify-center w-full">
    <hr class="w-2/3 h-px my-8 bg-gray-400 border-0 border-gray-500 dark:bg-gray-700">
    <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-gray-50 left-1/2 dark:text-white dark:bg-gray-900">{text}</span>
</div>
