---
import Layout from '../../layouts/Layout.astro';

const title = "限界突破 情報提供"
const description = "WILDHEARTSの武器、防具に関する限界突破の情報提供"
const og_image = '/assets/og_image.png'
---
<Layout title={title} description={description}>
  <main>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScNfeYsr3655e8FJuQOxx0qUztnTRMoEftsfpriyLTe5ibyuw/viewform?embedded=true" width="640" height="1703" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
  </main>
</Layout>
